html
  head
    include partials/header.pug
  body
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDN5QGJ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    
    include partials/topNav.pug

    include partials/sectionCover.pug

    include partials/sectionCoreModule.pug

    include partials/sectionSolution.pug
                  
    include partials/sectionCoreValue.pug
    
    include partials/sectionBlockChain.pug
    
    include partials/sectionEcosphere.pug
    
    include partials/sectionRoadMap.pug

    include partials/sectionFounder.pug

    include partials/sectionAdvisor.pug

    include partials/footer.pug