//- partials/header.pug
title= langText.title
link(rel='stylesheet', href='./bootstrap/css/bootstrap.css')
link(rel='stylesheet', href='./font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='./css/site.css')
link(rel='stylesheet', href='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css')
script(src='./jquery/jquery.min.js')
script(src='./bootstrap/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
script(src='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js')
script(src='./js/site.js')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')