html
  head
    include partials/header.pug
  body
    include partials/topNav.pug

    include partials/sectionCover.pug

    include partials/sectionTheProblem.pug

    include partials/sectionSolution.pug
                  
    include partials/sectionCoreValue.pug
    
    include partials/sectionRoadMap.pug

    include partials/sectionDistribution.pug

    include partials/sectionFounder.pug