@import url(https://fonts.googleapis.com/earlyaccess/notosanssc.css);
body {
    
}

:not(i) {
    font-family: 'Noto Sans SC', sans-serif;
}

.site-header {
    color: #FFFFFF;
    padding-top: 2rem;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-logo {
    width: 200px
}

.contentWrapper {
    padding: 4rem 0;
    color: #333333;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 13px;
}

.theProblem {
    background-color: #FFBF00;
    background-image: url(../images/partner_bg_resize.png); 
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.carousel-inner-item {
    min-height: 30vh;
}

.carousel-inner-item-content {
    font-size: 16px;
}

@media(min-width: 1200px) {
    .contentBlock-header h4 {
        font-size:2.5em !important;
    }
    .contentBlock-subHeader {
        font-size:1.5em !important;
    }
    .contentBlock-subContent {
        font-size:1.1em;
    }
}


@media(max-width: 1200px) {
    .carousel-inner-item-content {
        font-size: 1rem
    }
}

@media(max-width:540px) {
    .carousel-inner-item {
        min-height: 90vh;
    }
}

h1 {
    color: #333333;
}

h1.h1Yellow {
    color: #FFBF00;
}

hr {
    margin-bottom: 4rem;
    height: 2px;
    border: 0;
    width: 120px;
}

hr.hrLight {
    background-color: #F6F6F6;
    height: 3px;
    border: 0;
    width: 120px;
}

hr.hrYellow {
    background-color: #FFBF00;
    height: 3px;
    border: 0;
    width: 120px;
}

.coreValueItem {
    background-color: #FFBF00;
    border: 1px solid #FFBF00;
    border-bottom-right-radius: 20px;
    margin: 0 0.5rem;
    font-size: 13px;
    padding: 3rem 0 4rem 0;
    box-shadow: 6px 7px 10px #888888;
}

.coreValueItemHeader {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 0;
}

.coreValueItemDescription {
    line-height: 2rem;
    margin: 0 0.5rem;
}


.topBanner.caption {
    font-size: 4rem;
}
.topBanner.subCaption {
    font-size: 3rem;
}

@media(max-width: 540px) {
    .topBanner.caption {
        font-size: 3rem;
    }
    .topBanner.subCaption {
        font-size: 1.8rem;
    }
}


.topBanner.description {
    margin: 1.5rem 0;
}
.topBanner.footer > i {
    margin: 0 1.5rem 0 0;
}
.topBanner.rightBox {
    border: 1px solid #FFBF00;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgba(0,0,0,0.75)
}

.topBanner.rightBox  .caption {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.btn.btn-subscribe {
    background-color: #FFBF00;
}

.btn.btn-lang {
    background: transparent;
    color: #FFFFFF;
}

.btn.btn-lang.active {
    color: #000000;
    background-color: #FFBF00;
}

.roadMapHeader {
    font-weight: bold;
    color: #FFBF00;
    line-height: 2rem;
}

.roadMapItem {
    font-weight: normal;
    color: #FFFFFF;
}

.distributionTableArrow {
    width: 48px;
    height: 48px;
    background-color: #C0C0C0; 
    transform: rotate(45deg);
    margin: 0 auto;
    margin-top: -3rem;
}
.distributionTable {
    width: 80%; 
    margin: 2rem auto; 
    background-color: #C0C0C0; 
    padding: 2rem;
    border-radius: 5px;
}

.founderContainer {
    background-color: #FFFFFF;
    padding: 1rem;
    margin-bottom: 2.5rem;
}

.founderImage {
    width: 150px;
    height: 150px; 
    border-radius: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #646464;
}

.founderName {
    font-size: 1.5em;
} 


.solutionItem {
    margin: 2rem 0;
}

.particle-network-animation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	
  
  &::before {
    z-index: -2;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // background-image: url(http://web.frfr.me/dev/world-map-optimized.jpg);
    background-image: url(https://images.unsplash.com/photo-1450849608880-6f787542c88a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=786a67dca1d8791d181bfd90b16240d9);
    background-position: center center;
  background-size: cover;
    opacity: 0.2;
  }
}
.glow {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), transparent);
}
$duration: 25s;
.glow-1 {
  width: 150vw;
  height: 150vh;
  margin-top: -75vh;
  margin-left: -75vw;
  animation: glow-1-move $duration linear infinite both;
}
@keyframes glow-1-move {
  from {
    transform: translate(-100%, 100%);
  }
  to {
    transform: translate(100%, -100%);
  }
}
.glow-2 {
  width: 100vw;
  height: 100vh;
  margin-top: -50vh;
  margin-left: -50vw;
  animation: glow-2-move $duration linear $duration / 3 infinite both;
}
@keyframes glow-2-move {
  from {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(100%, 100%);
  }
}
.glow-3 {
  width: 120vw;
  height: 120vh;
  margin-top: -60vh;
  margin-left: -60vw;
  animation: glow-3-move $duration linear $duration / 3 * 2 infinite both;
}
@keyframes glow-3-move {
  from {
    transform: translate(100%, 100%);
  }
  to {
    transform: translate(0%, -100%);
  }
}

.animateme
{
  width:80%;
  padding:10%;
  transform-origin:center center center;
}

.particle-network-animation {
    cursor: normal;
    --cursorX: 100vw;
    --cursorY: 100vh;
}
.particle-network-animation:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(
    circle 100vmax at var(--cursorX) var(--cursorY),
    rgba(0,0,0,0.0) 0%,
    rgba(0,0,0,.5) 50%,
    rgba(0,0,0,.5) 100%
  )
}

.contentBlock {
    background-color: #909090;
    margin: 1rem 0;
    padding: 2rem
}
.contentBlock h4 {
    color: #FFBF00;
}
.contentBlock small {
    margin-top: 0.8rem !important;
    font-size: .7em !important;
}

.contentBlock div {
    color: #FFFFFF;
}