canvas(id='particle-network-animation', style='display:none')
div(class='cover-container h-75 w-100 site-header')
  div(class='container')
    div(class='row'): div(class='col text-right')
      div(class='dropdown')
        button(class='btn btn-outline-light btn-sm dropdown-toggle', id='dropdownMenuButton', data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")= langText.lang[currentLang]
        div(class='dropdown-menu', aria-labelledby='dropdownMenuButton')
          <a class="dropdown-item" href="/en">ENG</a>
          <a class="dropdown-item" href="/zh">繁體中文</a>
          <a class="dropdown-item" href="/cn">简体中文</a>
    div(class='row justify-content-md-center h-100 text-center')
      div(class='col align-self-center')
        div(class='logo')
          img(class='site-logo', src='./images/finchain-logo.svg')
        div(class='caption')!= langText.topBanner.caption
        div(class='subCaption')= langText.topBanner.subCaption
        div(class='description')
          each desc in langText.topBanner.description
            div= desc
        div(class='social')
          i(class='fa fa-facebook-official fa-lg')
          i(class='fa fa-linkedin-square fa-lg')
          i(class='fa fa-github fa-lg')
          i(class='fa fa-instagram fa-lg')
          i(class='fa fa-twitter fa-lg')
          i(class='fa fa-medium fa-lg')
          i(class='fa fa-telegram fa-lg')
        div(class='btnDownload-wrapper')
          div(class='text-center')
            button(class='btn btn-download', onclick='window.open("FINCHAIN_White-Paper.pdf")')= langText.topBanner.subscribeBox.btnWhitePaper