- var roadMap = langText.roadMap
div(class='cover-container w-100 roadMap roadMapItemBackground')
  div(class='roadMapContent')
    div(class='container'): div(class='row')
      div(class='col')
        h1= roadMap.title
        hr(class='yellow')
        div(class='no-gutters', style="display: flex; flex-wrap: no-wrap; overflow-y: auto")
          each item, index in roadMap.items
            div(class='roadMapItem', style="flex: 0 0 80%", data-aos='fade', data-aos-delay!=index*1.5*100)
              div(class='container itemContent', style!='background-image:url(images/Roadmaparrow' + index + '.svg)')
                div(class="body")
                  div(class="txtDateRange")= item.dateString
                  div= item.caption