div(class='cover-container w-100 core-module')
    h1= langText.coreModule.title
    hr(class='yellow')
    div(class='container'): div(class='row justify-content-around justify-content-md-end justify-content-lg-end')
        each content in langText.coreModule.items
            div(class='col-12')
                h2= content.header
                p(class='content')= content.content