- var ecosphere = langText.ecosphere
div(class='cover-container w-100 ecosphere')
    div(class='row'): div(class='col')
        h1= ecosphere.title
        hr(class='yellow')
        div(class='container')
            div(class='row')
                div(class='col-12 text-center')
                    img(src='../images/ecosphere-12-' + currentLang + '.svg', class='w-75')