div(class='cover-container w-100 footer')
    div(class='row'): div(class='col text-center')
        div(class='social')
            a(href='https://www.facebook.com/Finchain-1791413584498001', target='_blank'): i(class='fa fa-facebook-official fa-lg')
            a(href='https://www.linkedin.com/company/finchain', target='_blank'): i(class='fa fa-linkedin-square fa-lg')
            a(href='https://github.com/finchainproject', target='_blank'): i(class='fa fa-github fa-lg')
            a(href='https://twitter.com/Finchain_FIN', target='_blank'): i(class='fa fa-twitter fa-lg')
            a(href='https://medium.com/finchain', target='_blank'): i(class='fa fa-medium fa-lg')
            a(href='https://t.me/joinchat/GYu2IxHVwalfa8vtU-JX5A', target='_blank'): i(class='fa fa-telegram fa-lg')
        small
            div!= 'Copyright &copy; 2018 Finchain.com All rights reserved.'
            div
                i(class='fa fa-envelope')!= '&nbsp;'
                | info@finchain.com