div(class='cover-container w-100 footer')
    div(class='row'): div(class='col text-center')
        div(class='social')
            i(class='fa fa-facebook-official')
            i(class='fa fa-linkedin-square')
            i(class='fa fa-github')
            i(class='fa fa-instagram')
            i(class='fa fa-twitter')
            i(class='fa fa-medium')
            i(class='fa fa-telegram')
        small
            div!= 'Copyright &copy; 2018 Finchain.com All rights reserved.'
            div
                i(class='fa fa-envelope')!= '&nbsp;'
                | info@finchain.com