div(class='cover-container w-100')
    div(class='container core-module')
        h1(class='')= langText.coreModule.title
        hr(class='yellow')
        div(class='row justify-content-around justify-content-md-end justify-content-lg-around')
            each content in langText.coreModule.items
                div(class='col-4')
                    h2= content.header
                    p(class='content')= content.content