-var ecosphere = langText.ecosphere
div(class='cover-container w-100 ecosphere')
    div(class='row'): div(class='col')
        h1= ecosphere.title
        hr(class='yellow')
    div(class="container")
        div(class="row ")
            div(class="col")
                each item, index in ecosphere.items
                    div(class="ecosphereItem")
                        div(class="header text-center")= item.header
                        div(class="summary text-center")= item.summary
                        div(class="content")= item.content
            div(class="col align-self-center")
                img(src="/images/ecosphere-cn.png", class="w-100")