- var ecosphere = langText.ecosphere
div(class='cover-container w-100 ecosphere')
    div(class='row'): div(class='col')
        h1= ecosphere.title
        hr(class='yellow')
        div(class='row')
            div(class="col")
                div(class="container")
                    img(src='../images/ecosphere-12-' + currentLang + '.svg', class='w-100')