div(class='cover-container topNav', id='topNav')
    div(class='container')
        div(class='row')
          div(class='col')
            img(src='./images/finchain-logo.svg', style='width: 150px')
          div(class='col-xs-3 text-right', style='z-index: 1001')
            div
              button(class='btn btn-lang', class=currentLang == 'cn' ? 'active' : '', onclick="window.location='/cn'") 中
              button(class='btn btn-lang', class=currentLang == 'en' ? 'active' : '' onclick="window.location='/en'") EN 
